html, body {
	margin: 0px;
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #212026;
	color: #ffffff;
	font-family: 'Nunito';
}

li {
	list-style-type: none;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.output {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.panel {
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	background-color: #000000;
	border-radius: 4px;
	width: 350px;
	height: auto;
}

ul {
	display: flex;
	padding: 0px;
	gap: 10px;
	margin: 0px;
}

.comment-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.comment-header li {
	list-style-type: none;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(171, 208, 57);
	cursor: pointer;
}

.timestamp {
	color: rgb(171, 208, 57);
}

.options {
	color: white;
	font-weight: 900;
}

.prof {
	list-style-type: none;
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.comments {
	display: flex;
	color: white;
	align-items: stretch;
	flex-direction: column;
	justify-content: space-around;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.row {
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
}

.col-1 {
	width: 55px;
}

.col-2 {
	display: flex;
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
}

.col-3 {
	display: flex;
	width: 80px;
}

.timestamp {
	color: #abd039;
}

.textcontent {
	margin-top: -15px;
}

h3 {
	color: white;
	text-decoration: none;
}

h3, a {
	color: white;
	text-decoration: none;
}

input[type=text] {
	color: white;
	font-size: 1.05em;
	height: 42px;
	border: 1px solid #fff;
	border-radius: 4px;
	background-color: #00000000;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.form-content {
	display: flex;
	flex-direction: column;
	width: 350px;
	margin: 10px;
	gap: 10px;
}

.form-content input[type=text] {
	margin: 0px;
}

select, input[type=submit] {
	color: white;
	background-color: #212026;
	font-size: 1.05em;
	height: 42px;
	border: 1px solid #fff;
	border-radius: 4px;
	background-color: #00000000;
	padding-left: 10px;
	padding-right: 10px;
}

option {
	background-color: #212026;
}

.button-box {
	display: flex;
	justify-content: space-between;
	flex: 1 1 0;
	gap: 10px;
}

.button-box input[type=submit] {
	width: 33%;
}
